<ion-header>
  <ion-toolbar>
    <ion-title>Geo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-margin-top">
    <ion-col size="6" offset="3">
      <ion-item>
        <ion-input placeholder="Upit"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button color="primary">Execute</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-col size="6" class="ion-text-center">
      <ion-text><h1>Elasticsearch</h1></ion-text>
    </ion-col>
    <ion-col size="6" class="ion-text-center">
      <ion-text><h1>MySql</h1></ion-text>
    </ion-col>
  </ion-row>

</ion-content>
